---
title: Hello.
---
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
        <h1>Hello.</h1>
        charlie (at) csdv (dot) co<br />
        <a href="https://github.com/charlie-s">GitHub :: charlie-s</a><br />
        <a href="http://stackoverflow.com/users/630614/charlie-s">StackOverflow :: charlie-s</a><br />
        <a href="/csdv-media-client">CSDV Media Client</a>
    </div>
</div>
